$color-token-black:#000000;
$color-token-primary1:#4B4848;
$color-token-primary2:#818181;
$color-token-primary3:#D3D3D3;
$color-token-white:#FFFFFF;
$color-token-secondary1: #E9BE5C;
$color-token-secondary2:#FFDD65;
$color-token-secondary3:#FDE48D;

