  
.m-header {
    display: flex;
    align-items: center;
    background-color: $color-token-primary2;
    box-sizing: border-box;
    padding: $unit-token-xs;
    color: $color-token-white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-token-primary2;
     